<div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-tc-status="{{ job.status }}" data-c-padding="all(normal)" data-c-margin="bottom(normal)">
    <div data-c-grid="gutter middle">
        <div data-c-grid-item="tl(5of10)">
            <h2 data-c-margin="bottom(normal)" data-c-font-size="h3">{% if job.attention == true %}<span data-c-tag="stop" data-c-font-size="small" data-c-radius="pill" data-c-margin="right(half)">Needs Action</span>{% else %}{% endif %}<span {% if job.status == "published" %}data-c-tag="go"{% else %}data-c-tag="c1"{% endif %} data-c-font-size="small" data-c-radius="pill" data-c-margin="right(half)">{{ job.status|title }}</span>{{ job.classification }} - <span data-c-font-weight="bold">{{ job.title }}</span></h2>
            {% if job.type == "hr" %}
                <p data-c-font-size="small" data-c-margin="top(normal)">
                    {% if job.status == "draft" %}
                        <a href="" title="" data-c-margin="right(half)">View Draft</a>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                    {% elseif job.status == "in review" %}
                        <a href="" title="" data-c-margin="right(half)">View Draft</a>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                    {% elseif job.status == "approved" %}
                        <a href="" title="" data-c-margin="right(half)">View Draft</a>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                    {% elseif job.status == "published" %}
                        <span data-c-color="gray" data-c-margin="right(half)">View Draft</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">12 Applicants</span>
                    {% elseif job.status == "closed" %}
                        <span data-c-color="gray" data-c-margin="right(half)">View Draft</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <a href="" title="" data-c-margin="right(half)">34 Applicants</a>
                    {% elseif job.status == "complete" %}
                        <span data-c-color="gray" data-c-margin="right(half)">View Draft</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">5 Applicants</span>
                    {% endif %}
                </p>
            {% elseif job.type == "hm" %}
                <p data-c-font-size="small" data-c-margin="top(normal)">
                    {% if job.status == "draft" %}
                        <a href="" title="" data-c-margin="right(half)">Edit Job</a>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">Edit Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                        <a href="" title="" data-c-margin="right(half)">Delete Poster</a>
                    {% elseif job.status == "in review" %}
                        <a href="" title="" data-c-margin="right(half)">Edit Job</a>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">Edit Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                        <a href="" title="" data-c-margin="right(half)">Delete Poster</a>
                    {% elseif job.status == "approved" %}
                        <span data-c-color="gray" data-c-margin="right(half)">Edit Job</span>
                        <a href="" title="" data-c-margin="right(half)">Preview Poster</a>
                        <a href="" title="" data-c-margin="right(half)">Edit Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">No Applicants</span>
                        <a href="" title="" data-c-margin="right(half)">Delete Poster</a>
                    {% elseif job.status == "published" %}
                        <span data-c-color="gray" data-c-margin="right(half)">Edit Job</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">Edit Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">12 Applicants</span>
                        <span data-c-color="gray" data-c-margin="right(half)">Delete Poster</span>
                    {% elseif job.status == "closed" %}
                        <span data-c-color="gray" data-c-margin="right(half)">Edit Job</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <a href="" title="" data-c-margin="right(half)">34 Applicants</a>
                        <span data-c-color="gray" data-c-margin="right(half)">Delete Poster</span>
                    {% elseif job.status == "complete" %}
                        <span data-c-color="gray" data-c-margin="right(half)">Edit Job</span>
                        <a href="" title="" data-c-margin="right(half)">View Poster</a>
                        <a href="" title="" data-c-margin="right(half)">View Screening Plan</a>
                        <span data-c-color="gray" data-c-margin="right(half)">5 Applicants</span>
                        <span data-c-color="gray" data-c-margin="right(half)">Delete Poster</span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <div data-c-grid-item="tl(3of10)">
            <div data-c-grid="gutter">
                {% if job.type == "hr" %}
                        {% if job.status == "draft" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small" data-c-color="gray">Published: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Closes: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: N/A</p>
                        </div>
                    {% elseif job.status == "in review" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small" data-c-color="gray">Published: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Closes: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: N/A</p>
                        </div>
                    {% elseif job.status == "approved" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Goes Live: {{ job.published }}</p>
                            <p data-c-font-size="small">Closes: {{ job.closed }}</p>
                            <p data-c-font-size="small">Live for: 29 days</p>
                        </div>
                    {% elseif job.status == "published" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closes: {{ job.closed }}</p>
                            <p data-c-font-size="small">Live for: 9 more days</p>
                        </div>
                    {% elseif job.status == "closed" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closed: {{ job.closed }}</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: Closed</p>
                        </div>
                    {% elseif job.status == "complete" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            <p data-c-font-size="small">Time with Manager: {{ job.hmTime }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hrTime }}</span></p>
                            {% endif %}
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closed: {{ job.closed }}</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: Closed</p>
                        </div>
                    {% endif %}
                {% elseif job.type == "hm" %}
                        {% if job.status == "draft" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small" data-c-color="gray">Time with HR: N/A</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small" data-c-color="gray">Published: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Closes: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: N/A</p>
                        </div>
                    {% elseif job.status == "in review" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small">Time with HR: 5 days</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small" data-c-color="gray">Published: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Closes: N/A</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: N/A</p>
                        </div>
                    {% elseif job.status == "approved" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small">Time with HR: 5 days</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Goes Live: {{ job.published }}</p>
                            <p data-c-font-size="small">Closes: {{ job.closed }}</p>
                            <p data-c-font-size="small">Live for: 29 days</p>
                        </div>
                    {% elseif job.status == "published" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small">Time with HR: 5 days</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closes: {{ job.closed }}</p>
                            <p data-c-font-size="small">Live for: 9 more days</p>
                        </div>
                    {% elseif job.status == "closed" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small">Time with HR: 5 days</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closed: {{ job.closed }}</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: Closed</p>
                        </div>
                    {% elseif job.status == "complete" %}
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Created: {{ job.created }}</p>
                            {% if job.attention == true %}
                                <p data-c-font-size="small" class="pulse">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% else %}
                                <p data-c-font-size="small">Time with You: <span>{{ job.hmTime }}</span></p>
                            {% endif %}
                            <p data-c-font-size="small">Time with HR: 5 days</p>
                        </div>
                        <div data-c-grid-item="base(1of2)">
                            <p data-c-font-size="small">Published: {{ job.published }}</p>
                            <p data-c-font-size="small">Closed: {{ job.closed }}</p>
                            <p data-c-font-size="small" data-c-color="gray">Live for: Closed</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div data-c-grid-item="tl(2of10)" data-c-align="base(center)">
            {% if job.type == "hr" %}
                <a href="" title="" data-c-button="solid(c1)" data-c-radius="rounded">
                    View Details
                </a>
            {% elseif job.type == "hm" %}
                {% if job.status == "draft" %}
                    <a href="" title="" data-c-button="solid(c1)" data-c-radius="rounded">
                        Edit Draft
                    </a>
                {% elseif job.status == "in review" %}
                    <a href="" title="" data-c-button="solid(c1)" data-c-radius="rounded">
                        Preview &amp; Submit
                    </a>
                {% elseif job.status == "approved" or job.status == "published" %}
                    <a href="" title="" data-c-button="solid(c1)" data-c-radius="rounded">
                        Edit Screening Plan
                    </a>
                {% elseif job.status == "closed" %}
                    <a href="" title="" data-c-button="solid(c1)" data-c-radius="rounded">
                        View 34 Applicants
                    </a>
                {% elseif job.status == "complete" %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>